{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <input type="hidden" name="type" value="password">
        <label>
            <p>Записка самоуничтожится сразу после прочтения.</p>
            <p>Записка защищена. Введите пароль:</p>
            <input type="password" name="password">
        </label>
        {% if get_flashed_messages() | length > 0 %}
            {% for msg in get_flashed_messages() %}
                <p class="error">{{ msg }}</p>
            {% endfor %}
        {% else %}
            <br><br>
        {% endif %}
        <input type="submit" value="Готово">
    </form>
{% endblock %}
