{% extends 'base.html' %}

{% block content %}
    <h1>О сайте</h1>
    <p>
        С помощью этого сайта можно посылать сообщения, не опасаясь, что они будут распространены вместе с именем
        отправителя. После первого же посещения страницы с содержанием записки она будет бесследно удалена с сервера.
        Ещё один из способов применения &ndash; конкурс, где первый участник, который отгадает пароль,
        сможет оставить своё имя и забрать приз.
    </p>
    <p>
        Статус записки можно отслеживать, добавив к её ссылке окончание "/details".
    </p>
{% endblock %}
